<section class="foot">
    <footer class="sec">
    	<p>Made with <i class="fas fa fa-coffee"></i> and <i class="fas fa fa-code"></i> by Aryan Mediratta.</p><br>
    	<p>Copyright <%= year%> Aryan Mediratta</p>
    </footer>
</section>
</body>
<div class="se-pre-con"></div>
<script src=/scripts/<%=title.toLowerCase()%>.js ></script>
<script src="/scripts/base.js"></script>

</html>