<section style="background: darkslategrey; color: white">
    <footer class="sec">
        Copyright 2018 Aryan Mediratta
    </footer>
</section>
</body>
<script src=/scripts/<%=title.toLowerCase()%>.js ></script>

</html>