<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Aryan | <%= title%></title>
		<link rel="stylesheet" href=css/css/<%=title.toLowerCase()%>.css>
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
		<script src="/scripts/quietflow.min.js"></script>
	</head>
	<body>
	<header <% if(title.toLowerCase() != "home") { %> class="scrolled"<% } %>>
		<div class="hamburger">
			
		</div>
		<nav class="left">
			<a href="/" <% if(title.toLowerCase() == "home") { %>class="active"<% } %> >Home</a>
			<a href="/projects" <% if(title.toLowerCase() == "projects") { %>class="active"<% } %> >Projects</a>
		</nav>
		<div class="logo green">
			<h1>Aryan Mediratta</h1>
		</div>
		<nav class="right">
			<a href="/resume.pdf">Résumé</a>
			<a href="" <% if(title.toLowerCase() == "contact") { %>class="active"<% } %>>Contact</a>
		</nav>
	</header>
