<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.no-js #loader { display: none;  }
			.js #loader { display: block; position: absolute; left: 100px; top: 0; }
			.se-pre-con {
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				z-index: 9999;
				background: url(/img/load.gif) center no-repeat #000;
			}
		</style>
		<link rel="icon" sizes="1024x1024" href="1024.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Aryan | <%= title%></title>
		<link rel="stylesheet" href=css/css/<%=title.toLowerCase()%>.css>
		<!-- Material Icons CDN -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
	<header <% if(title.toLowerCase() != "home") { %> class="scrolled"<% } %>>
		<div class="mobile">
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="overlay">
				<div>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/resume.pdf">Résumé</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<nav class="left">
			<a href="/" <% if(title.toLowerCase() == "home") { %>class="active"<% } %> >Home</a>
			<a href="/projects" <% if(title.toLowerCase() == "projects") { %>class="active"<% } %> >Projects</a>
		</nav>
		<div class="logo green">
			<h1>Aryan Mediratta</h1>
		</div>
		<nav class="right">
			<a href="/resume.pdf">Résumé</a>
			<a href="/contact" <% if(title.toLowerCase() == "contact") { %>class="active"<% } %>>Contact</a>
		</nav>
	</header>
