<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Aryan | <%= title%></title>
		<link rel="stylesheet" href=css/css/<%=title.toLowerCase()%>.css>
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
		<script src="/scripts/quietflow.min.js"></script>
		<% if(title.toLowerCase() == "home") { %> 
			<script type="text/javascript" src="/scripts/anime.min.js"></script>
		<% } %>
	</head>
	<body>
	<header <% if(title.toLowerCase() != "home") { %> class="scrolled"<% } %>>
		<div class="mobile">
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="overlay">
				<div>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/resume.pdf">Résumé</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<nav class="left">
			<a href="/" <% if(title.toLowerCase() == "home") { %>class="active"<% } %> >Home</a>
			<a href="/projects" <% if(title.toLowerCase() == "projects") { %>class="active"<% } %> >Projects</a>
		</nav>
		<div class="logo green">
			<h1>Aryan Mediratta</h1>
		</div>
		<nav class="right">
			<a href="/resume.pdf">Résumé</a>
			<a href="/contact" <% if(title.toLowerCase() == "contact") { %>class="active"<% } %>>Contact</a>
		</nav>
	</header>
