<% include partials/header %>
<br>
<br>
<section>
	<content class="sec">
	   <h1>Contact</h1>
	   <p style="text-align: left; ">
			<dl style="text-align: left; max-width: 600px; width: auto; margin: auto;">
				<dt>Email</dt>
				<dd>aryan_02<span class="email-part">at</span>outlook<span class="email-part">dot</span>com</dd>
				<dd>aryan.m<span class="email-part">at</span>balbharatipp<span class="email-part">dot</span>org</dd>
				<br>
				<dt>Other Platforms</dt>
				<dd>
					<ul class="fa-ul">
						<li><i class="fa-li fab fa-facebook-f"></i><a href="//fb.me/aryan.mediratta.1">fb.me/aryan.mediratta.1</a></li>
						<li><i class="fa-li fab fa-stack-overflow"></i>
							<a href="//stackoverflow.com/story/aryan_02">
								stackoverflow.com/story/aryan_02
							</a></li>
						<li>
							<i class="fa-li fab fa-github"></i>
							<a href="//github.com/aryan-02/">
							github.com/aryan-02/</a>
						</li>
				<li><i class="fa-li fab fa-youtube"></i>
					<a href="//youtube.com/channel/UC9zByHoAbGVG8wd9uDE09kQ">
				youtube.com/channel/UC9zByHoAbGVG8wd9uDE09kQ</a></li>
					</ul>
				</dd>
			</dl>
	   </p>
	</content>
</section>

<% include partials/footer %>