<% include partials/header %>
<section class="intro">
		<div class="center">
			<img id="face" src="https://www.gravatar.com/avatar/3935a22a7298268b3569016b5e9519ca?s=900&d=404&r=g" alt="image">
			<br><br>
			<div class="text">
				<h1>I'm <span class="green">Aryan</span>.</h1>
			</div>
			<br> <br>
			<div class="text">
					<p>And I make stuff.</p>
			</div>
		</div>
	</section>
	<section class="black">
		<content class="sec">
			<h1>I am a</h1>
			<ul style="list-style: none;">
				<li>Programmer</li>
				<li>Full-Stack Web Developer</li>
				<li>Graphic Designer</li>
				<li>Robot-Maker</li>
				<li>Film-Maker</li>
				<li>Musician</li>
				<li>Human</li>
			</ul>
		</content>
	</section>
	<section class="lang" id="languages">
		<content class="sec">
			<h1 class="gradient">I'm fluent in</h1>
			<div style="display: flex; flex-wrap: wrap">
				<ul style="list-style: none; flex: 1">
						<li>English</li>
						<li>Hindi</li>
						<li>French</li>
				</ul>
				<ul style="list-style: none; flex: 1">
						<li>C++</li>
						<li>PHP</li>
						<li>JavaScript</li>
						<li>HTML5</li>
						<li>CSS3</li>
						<li>C#</li>
						<li>Python</li>
				</ul>
			</div>
		</content>
	</section>
	<section>
		<content class="sec">
			<h1 class="gradient">Badges</h1>
		</content>
		<content class="sec flex-def wrap white-bg" style="display: flex;">
			<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3964f6c3-7eba-420d-997b-9dfef43d1056" style="flex:1;"></div>
			<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="03992dbb-de4f-427a-aee7-ad775b1e0d1f" style="flex:1"></div>
		<script type="text/javascript">
			(function() {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
				var o = document.getElementsByTagName('script')[0];
				o.parentNode.insertBefore(s, o);
			  })();
		</script>

		</content>
	</section>
	<section class="black">
		<content class="sec">
			<h1>Stuff I Use</h1>
			<ul style="display: flex; flex-wrap: wrap; text-align: center">
				<li>Sublime Text</li>
				<li>Visual Studio</li>
				<li>Acid Music Studio</li>
				<li>Ableton</li>
				<li>Magix Vegas Pro</li>
				<li>Adobe Photoshop</li>
				<li>Adobe Animate</li>
				<li>Adobe Illustrator</li>
				<li>Adobe Premiere Pro</li>
				<li>Adobe After Effects</li>
			</ul>
		</content>
	</section>
<% include partials/footer %>