<% include partials/header %>
<section class="intro">
		<div class="center">
			<img id="face" src="https://www.gravatar.com/avatar/3935a22a7298268b3569016b5e9519ca?s=900&d=404&r=g" alt="image" data-0="opacity: 1;" data-300="opacity: 0;">
			<br><br>
			<div class="text">
				<h1><span class="green">I</span>'m <span class="green">Aryan</span>.</h1>
			</div>
			<br> <br>
			<div class="text">
					<p>
						<span style="color: orange">And</span> 
						<span class="green">I</span> make <span class="green">stuff</span>.</p>
			</div>
		</div>
	</section>
	<section class="black me">
		<main class="sec">
			<h1 data-110="letter-spacing[cubic]: 50px; opacity: 0;" data-440="letter-spacing[cubic]: 1px;transform: scale(1); opacity: 1">I am a</h1>
			<ul style="list-style: none;">
				<li>Programmer</li>
				<li>Full-Stack Web Developer</li>
				<li>Graphic Designer</li>
				<li>Robot-Maker</li>
				<li>Film-Maker</li>
				<li>Musician</li>
				<li>Human</li>
			</ul>
		</main>
		
	</section>
	<section class="black">
		<main class="sec edu">
			<h1>Education</h1>
			<p class="card">
				<i class="material-icons" aria-hidden="true">school</i> Studies <span class="prep">at</span> <a href="//bbpspp.balbharati.org/"><b class="school-name">Bal Bharati Public School, Pitampura</b></a><br>
				<b class="level">High School</b><br>
				2007 - Current<br>
			</p>
		</main>
	</section>
	<section class="lang" id="languages">
		<main class="sec">
			<h1 class="gradient">I'm fluent in</h1>
			<div style="display: flex; flex-wrap: wrap">
				<ul style="list-style: none; flex: 1">
						<li>English</li>
						<li>Hindi</li>
						<li>French</li>
				</ul>
				<ul style="list-style: none; flex: 1">
						<li>C++</li>
						<li>PHP</li>
						<li>SQL</li>
						<li>JavaScript</li>
						<li>HTML</li>
						<li>CSS</li>
						<li>SASS</li>
						<li>C#</li>
						<li>Python</li>
				</ul>
			</div>
		</main>
	</section>
	<section>
		<main class="sec">
			<h1 class="gradient">Badges</h1>
		</main>
		<main class="sec flex-def wrap white-bg" style="display: flex;">
			<div data-iframe-width="150" data-iframe-height="257" data-share-badge-id="3a0df383-1250-4bbe-a5ae-75540045ec89"></div>
			<div data-iframe-width="150" data-iframe-height="257" data-share-badge-id="3964f6c3-7eba-420d-997b-9dfef43d1056" style="flex:1;"></div>
			<div data-iframe-width="150" data-iframe-height="257" data-share-badge-id="03992dbb-de4f-427a-aee7-ad775b1e0d1f" style="flex:1"></div>
		</main>
		<main class="sec flex-def wrap white-bg">
			<div class="badge-card">
				<a href="https://mva.microsoft.com/RewardEvidence.aspx/?key=BNAMtGHAVpa3cMRpTsJg8A2">
					<img src="/img/badge/mean.png" alt="MEAN Stack">
					<br>
					<p style="padding-bottom: 1rem">MEAN Stack Development
					<br>
					<i style="font-size: .81rem; color: #666;">Issuer: Microsoft</i>
					</p>
				</a>
			</div>
			<div class="badge-card">
				<a href="https://mva.microsoft.com/RewardEvidence.aspx/?key=XTCEmvT0GplEYnmzIX9A9A2">
					<img src="/img/badge/devops.png" alt="MEAN Stack">
					<br>
					<p style="padding-bottom: 1rem">DevOps For Developers
					<br>
					<i style="font-size: .81rem; color: #666;">Issuer: Microsoft</i>
					</p>
				</a>
			</div>
		</main>
	</section>
	<section class="black">
		<main class="sec">
			<h1 id="achievements">Achievements</h1>
			<article class="achievements">
				<h2>National Science Film Festival of India <span class="year">2018</span></h2>
				<p>
					<h3>Black Holes: Do they really exist?</h3>
					<p>
						Bronze Beaver Award
					</p>
					<h3>Psycho Social</h3>
					<p>
						Bronze Beaver Award <br>
						Special Award for Technical Excellence in Sound Design
						<span id="ellipsis">...</span>
					</p>
				</p>
				<div id="more">
					<h2>XINO <span class="year">2018</span></h2>
					<h3>Programming</h3>
					<p>Third Position</p>
					<h2>RoboCup Junior <span class="year">2018</span> (Rescue Line)</h2>
					<p>
						<h3>Regionals</h3>
						Best Teamwork Award
					</p>
					<h2>RoboCup Junior <span class="year">2017</span> (Rescue Line)</h2>
					<p>
						<h3>Regionals</h3>
						Qualified for the nationals.
						<h3>Nationals</h3>
						Rank: 1 <br>
						Best Creativity Award <br>
						Qualified for the Internationals.
						<h3>Internationals</h3>
						SuperTeam Rank: 4
					</p>
					<h2>CodeChef SnackDown <span class="year">2017</span></h2>
					<h3>Pre-Elimination Round</h3>
					<p>International Rank: 615</p>
				</div>
				<br>
				<!-- onclick="toggleMore();" -->

				<p style="text-align: center;"></p>
				<button style="outline: none !important;" onclick="toggleMore();" id="read" class="ripple" data-ripple-color="#05eb1a">Read more</button>
				<br><br>
			</article>
			<h1>Other Stuff I enjoy</h1>
			<article class="enjoy">
				<ul>
					<li><span class="green">Computer Security</span><br>
						<ul>
							<li>In September 2018, I reported a bug in the Developer Story section of StackOverflow.</li>
							<li>I reported XSS vulnerabilities in two applications from Sugar Labs as a part of Google Code-In 2017 and fixed them in Google Code-In 2018.</li>
							<li>While croudfunding for my robotics team, I along with one other member, helped Dreamwallets by reporting an XSS vulnerability in their system.</li>
						</ul>
					</li>
					<li>Problem-Setting <br>
						<ul>
							<li>I designed the programming problems for the preliminary and onsite final rounds of the competitive programming event at Byte.IT, Byte Club's annual tech fest.</li>
							<li>I designed the question paper for the skill assessment test at Quick Byte, the computer club's recruitment event.</li>
						</ul>
					</li>
					<li>Virtual Aviation</li>
					<li>Music Production and Singing</li>
					<li>Swimming</li>
				</ul>
			</article>
		</main>
		<main class="sec">
			<h1>Stuff I Use</h1>
			<ul style="display: flex; flex-wrap: wrap; text-align: left">
				<li>Sublime Text</li>
				<li>Vim</li>
				<li>EMACS</li>
				<li>Visual Studio</li>
				<li>Acid Music Studio</li>
				<li>Ableton</li>
				<li>Adobe Photoshop</li>
				<li>Adobe Animate</li>
				<li>Adobe Illustrator</li>
				<li>Adobe Premiere Pro</li>
				<li>Adobe After Effects</li>
				<li>SolidWorks</li>
				<li>OnShape</li>
			</ul>
		</main>
	</section>
	<script type="text/javascript">
			(function() {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
				var o = document.getElementsByTagName('script')[0];
				o.parentNode.insertBefore(s, o);
			  })();
		</script>
<% include partials/footer %>
