<% include partials/header %>
<br>
<br>
<section class="black">
    <main class="sec">
       <h1>Projects</h1>
		<div class="wrapper">
			<section class="details-group">
				<details class="details">
					<summary class="details__summary">
						Under Construction
					</summary>
					<div class="details__content">
						<h2>Stuff</h2>
						<p><a href="//byteclub.in">https://byteclub.in</a></p>
						<p><img src="/img/proj/byte.jpg" alt="Byte Club" style="max-width: 40%; height: auto"></p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sequi in doloremque, debitis obcaecati alias sed reprehenderit necessitatibus incidunt, amet! Reprehenderit tempora quos ipsa libero suscipit eveniet, quidem, nesciunt expedita?</p>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Under Construction
					</summary>
					<div class="details__content">
						<h2>Dual-Sensor PID Line Follower Algorithm</h2>
						<p><a href="//github.com/aryan-02/2sensorpid">https://github.com/aryan-02/2sensorpid</a></p>
						<p>A project I made for RoboCup Junior 2017. I took the traditional single-sensor PID Controller algorithm for Lego Mindstorms EV3 and made changes to successfully make it work with two sensors. It's completely open-source now.</p>
					</div>
				</details>
			</section>
		</div>
    </main>
</section>

<% include partials/footer %>