<% include partials/header %>
<br>
<br>
<section class="black">
    <main class="sec">
       <h1>Projects</h1>
		<div class="wrapper">
			<section class="details-group">
				<details class="details">
					<summary class="details__summary">
						Web Development
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Byte Club</h2>
							<p><img src="/img/proj/byte.jpg" alt="Byte Club"></p>
							<p class="url"><a href="//byteclub.in">https://byteclub.in</a></p>
							<p>Byte Club is the Computer Club of <a href="https://bbpspp.balbharati.org/">Bal Bharati Public School, Pitampura</a><br>
							<h4>About the Club</h4>
							<p>So here's a <strong>bit</strong> about us. We are visionaries, who love to discuss and debate about tech and to make it a part of our life. We believe in working as a single unit, i.e. Byte and we do this by participating in various events and taking initiatives for social awareness through various projects.</p>
							</p>
						</article>
						<article class="project">
							<h2>Forever EV3</h2>
							<p><img src="/img/proj/forever_ev3.jpeg" alt="Byte Club"></p>
							<p class="url"><a href="http://foreverev3.html-5.me">http://foreverev3.html-5.me</a></p>
							<h3>Team India for RoboCup 2017</h3>
							<p>This was my team for RoboCup 2017. We represented India at RoboCup Junior Rescue-Line 2017 at Nagoya, Japan.</p>
							<h4>About the Team</h4>
							<p>
								We love to deal with all forms of technology. For RoboCup Junior, we built rescue robots that simulate autonomous rescue operation. Apart from Robotics, we enjoy making websites, films and apps. When it comes to technology, we are the optimists who feel it has the capability to change the world and the way we live. We take problems as challenges and strongly believe in the fact that every problem has a solution. We like programming, graphic designing, robotics, web development and all that can help make a positive impact on the world. We speak C++, JavaScript, HTML, CSS, C# and PHP.
							</p>
						</article>
						<article class="project">
							<h2>&micro;Phone</h2>
							<p><img src="/img/proj/uphone.png" alt="Byte Club"></p>
							<p class="url"><a href="//myawesomeproduct.is-best.net/">http://myawesomeproduct.is-best.net/</a></p>
							<p>This is a parody website I made on the Google Pixel and the iPhone 7. It intends to throw some light on to how smartphone companies have started to do crazy stuff, such as removing features like the headphone jack, while others have come up with some amazing devices.</p>
						</article>
						<article class="project">
							<h2>Pair of Linear Equations</h2>
							<p><img src="/img/proj/linear_eq.png" alt="Byte Club"></p>
							<p class="url"><a href="//aryan-02.github.io/linear-eq-pair/">https://aryan-02.github.io/linear-eq-pair/</a></p>
							<p>This is a simple website I made that works as a simultaneous linear equation solver. Given a system of two linear equations in two variables each, this calculator can solve it.</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Robotics
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Line Follower Robot using Computer Vision</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/3-UEsF-4HYY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="//github.com/aryan-02/line_follow">https://github.com/aryan-02/line_follow/</a></p>
							<p>
								In 2020, I decided to try a non-traditional approach to line-follower robots. Instead of using a pair
								of color sensors to detect the line, I decided to use a camera. This approach makes it roughly equivalent to
								using more than 2 million color sensors (each pixel being equivalent to a color sensor). Further, using
								basic calculus, I developed and coded a PID-controller-based line following algorithm, which makes
								the robot take smooth turns, unlike the abrupt turns a regular line follower robot takes.
							</p>
						</article>
						<article class="project">
							<h2>Dual-Sensor PID Line Follower Algorithm</h2>
							<p class="url"><a href="//github.com/aryan-02/2sensorpid">https://github.com/aryan-02/2sensorpid</a></p>
							<p>A project I made for RoboCup Junior 2017. I took the traditional single-sensor PID Controller algorithm for Lego Mindstorms EV3 and made changes to successfully make it work with two sensors. It's completely open-source now.</p>
						</article>
						<article class="project">
							<h2>RGB-LED Color Fading Transition for Arduino</h2>
							<p class="url"><a href="//github.com/aryan-02/arduino-rgbfade">https://github.com/aryan-02/arduino-rgbfade</a></p>
							<p>A piece of code I wrote to easily fade colors on RGB LEDs connected to an Arduino.</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Video
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Talent Hunt Invite</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/tQz_MlTV_u0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=tQz_MlTV_u0">https://www.youtube.com/watch?v=tQz_MlTV_u0</a></p>
							<p>The Invitation Video I made for Bal Bharati Public School Pitampura's 2018 Talent Hunt event for the Pre-Primary department.</p>
						</article>
						<article class="project">
							<h2>Plasticized Paradise: Stop the Lamination of Earth</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/hfWMcithVy8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=bUL3IQlq7vY">https://www.youtube.com/watch?v=bUL3IQlq7vY</a></p>
							<p>A short film I made (directed, filmed and edited) for the National Science Film Festival of India, 2019.</p>
							<p>It highlights the fact that the growing amount of plastic waste is a big problem, and also suggests a unique solution - using that plastic to make bricks.</p>
							<br>
							<p>
								<b>Nomination and Screening,</b> CMS Vatavaran 2019<br>
								<b>Official Selection,</b> EduDoc 2018<br>
								<b>Official Selection,</b> In-Short Film Festival 2018
							</p>
						</article>
						<article class="project">
							<h2>Byte.IT Promo Video</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/bUL3IQlq7vY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=bUL3IQlq7vY">https://www.youtube.com/watch?v=bUL3IQlq7vY</a></p>
							<p>The promo video for the first iteration of Byte Club's Annual Tech - Byte.IT (2018)</p>
						</article>
						<article class="project">
							<h2>Talent Hunt 2018 Impressions</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/_Jnbsxd-ndM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=_Jnbsxd-ndM">https://www.youtube.com/watch?v=_Jnbsxd-ndM</a></p>
							<p>A video I made to summarize Bal Bharati Public School Pitampura's Annual Talent Hunt event.</p>
						</article>
						<article class="project">
							<h2>Sugar Labs Promo Video</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/sTNj_q6yrDs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=sTNj_q6yrDs">https://www.youtube.com/watch?v=sTNj_q6yrDs</a></p>
							<p>A promo video I made for Sugar Labs as a part of Google Code-In 2017.</p>
						</article>
						<article class="project">
							<h2>Drupal Promo Video</h2>
							<p><iframe width="560" height="315" src="https://www.youtube.com/embed/qKCZ5fTbHxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=qKCZ5fTbHxs">https://www.youtube.com/watch?v=qKCZ5fTbHxs</a></p>
							<p>A promo video I made for Drupal as a part of Google Code-In 2017.</p>
						</article>
						<!-- <article class="project">
							<h2>Black Holes</h2>
							<p class="url"><iframe width="560" height="315" src="https://www.youtube.com/embed/pMmPzrvbJwM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=pMmPzrvbJwM">https://www.youtube.com/watch?v=pMmPzrvbJwM</a></p>
							<p>A video that explains how black holes are formed and whether one should really worry about the sun being swallowed by a black hole.</p>
							<p>This video was awarded with the Bronze Beaver award at the 8<sup>th</sup> National Science Film Festival (2018)</p>
						</article> -->
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Machine Learning
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Multilayer Perceptron</h2>
							<p class="url"><a href="//github.com/aryan-02/perceptron-cpp">https://github.com/aryan-02/perceptron-cpp</a></p>
							<p>Developed a Multilayer Feedforward Perceptron neural network from scratch in C++.</p>
						</article>
						<article class="project">
							<h2>Linear Regression</h2>
							<p class="url"><a href="https://github.com/aryan-02/linear_regression">https://github.com/aryan-02/linear_regression</a></p>
							<p>My implementation of a Linear Regression model in C++. It can find the linear regression line and make predictions on the data based on the slope-intercept form of a line y = mx + c.</p>
						</article>
						<article class="project">
							<h2>Seefood</h2>
							<p class="url"><a href="//github.com/aryan-02/seefood">https://github.com/aryan-02/seefood</a></p>
							<p>My first TensorFlow project. It attempts to replicate the SeeFood app from the show 'Silicon Valley'. It classifies images as 'Hot Dog' or 'Not Hot Dog'.</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Music
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Pi Music</h2>
							<p class="url"><a href="https://github.com/aryan-02/PiMusic">https://github.com/aryan-02/PiMusic</a></p>
							<p>A project I made on Pi Day. This is a C++ program that maps each of the first 100 decimal places of Pi to a frequency in an octave (plus two notes from the next octave) and plays the notes in the order in which the corresponding digits occur in the decimal expansion of Pi. This creates a beautiful sounding melody just out of the decimal expansion of Pi.</p>
						</article>
						<article class="project">
							<h2>Attention Instrumental Cover</h2>
							<p class="url"><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/489084051&color=%2305eb1a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p>
							<p class="url"><a href="https://soundcloud.com/aryan-mediratta/attention-instrumental-cover-remastered">https://soundcloud.com/aryan-mediratta/attention-instrumental-cover-remastered</a></p>
							<p>An instrumental cover I made for the song 'Attention'.</p>
						</article>
						<article class="project">
							<h2>Developers</h2>
							<p class="url"><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/558348162&color=%2305eb1a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p>
							<p class="url"><a href="https://soundcloud.com/aryan-mediratta/developers">https://soundcloud.com/aryan-mediratta/developers</a></p>
							<p>A music piece I made using Steve Ballmer's Developers speech.</p>
						</article>
					</div>
				</details>
			</section>
		</div>
    </main>
</section>

<% include partials/footer %>
