<% include partials/header %>
<br>
<br>
<section class="black">
    <main class="sec">
       <h1>Projects</h1>
		<div class="wrapper">
			<section class="details-group">
				<details class="details">
					<summary class="details__summary">
						Web Development
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Byte Club</h2>
							<p><img src="/img/proj/byte.jpg" alt="Byte Club"></p>
							<p class="url"><a href="//byteclub.in">https://byteclub.in</a></p>
							<p>Byte Club is the Computer Club of <a href="https://bbpspp.balbharati.org/">Bal Bharati Public School, Pitampura</a><br>
							<h4>About the Club</h4>
							<p>So here's a <strong>bit</strong> about us. We are visionaries, who love to discuss and debate about tech and to make it a part of our life. We believe in working as a single unit, i.e. Byte and we do this by participating in various events and taking initiatives for social awareness through various projects.</p>
							</p>
						</article>
						<article class="project">
							<h2>&micro;Phone</h2>
							<p><img src="/img/proj/uphone.png" alt="Byte Club"></p>
							<p class="url"><a href="//myawesomeproduct.is-best.net/">http://myawesomeproduct.is-best.net/</a></p>
							<p>This is a parody website I made on the Google Pixel and the iPhone 7. It intends to throw some light on to how smartphone companies have started to do crazy stuff, such as removing features like the headphone jack, while others have come up with some amazing devices.</p>
						</article>
						<article class="project">
							<h2>Pair of Linear Equations</h2>
							<p><img src="/img/proj/linear_eq.png" alt="Byte Club"></p>
							<p class="url"><a href="//aryan-02.github.io/linear-eq-pair/">https://aryan-02.github.io/linear-eq-pair/</a></p>
							<p>This is a simple website I made that works as a simultaneous linear equation solver. Given a system of two linear equations in two variables each, this calculator can solve it.</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Robotics
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Dual-Sensor PID Line Follower Algorithm</h2>
							<p class="url"><a href="//github.com/aryan-02/2sensorpid">https://github.com/aryan-02/2sensorpid</a></p>
							<p>A project I made for RoboCup Junior 2017. I took the traditional single-sensor PID Controller algorithm for Lego Mindstorms EV3 and made changes to successfully make it work with two sensors. It's completely open-source now.</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Video
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Plasticized Paradise: Stop the Lamination of Earth</h2>
							<p><iframe width="462.5" height="240" src="https://www.youtube.com/embed/hfWMcithVy8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=bUL3IQlq7vY">https://www.youtube.com/watch?v=bUL3IQlq7vY</a></p>
							<p>A short film I made (directed, filmed and edited) for the National Science Film Festival of India, 2019.</p>
							<p>It highlights the fact that the growing amount of plastic waste is a big problem, and also suggests a unique solution - using that plastic to make bricks.</p>
						</article>
						<article class="project">
							<h2>Byte.IT Promo Video</h2>
							<p><iframe width="462.5" height="240" src="https://www.youtube.com/embed/bUL3IQlq7vY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=bUL3IQlq7vY">https://www.youtube.com/watch?v=bUL3IQlq7vY</a></p>
							<p>The promo video for the first iteration of Byte Club's Annual Tech - Byte.IT (2018)</p>
						</article>
						<article class="project">
							<h2>Sugar Labs Promo Video</h2>
							<p><iframe width="462.5" height="240" src="https://www.youtube.com/embed/sTNj_q6yrDs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=sTNj_q6yrDs">https://www.youtube.com/watch?v=sTNj_q6yrDs</a></p>
							<p>A promo video I made for Sugar Labs as a part of Google Code-In 2017.</p>
						</article>
						<article class="project">
							<h2>Drupal Promo Video</h2>
							<p><iframe width="462.5" height="240" src="https://www.youtube.com/embed/qKCZ5fTbHxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=qKCZ5fTbHxs">https://www.youtube.com/watch?v=qKCZ5fTbHxs</a></p>
							<p>A promo video I made for Drupal as a part of Google Code-In 2017.</p>
						</article>
						<article class="project">
							<h2>Black Holes</h2>
							<p class="url"><iframe width="462.5" height="240" src="https://www.youtube.com/embed/pMmPzrvbJwM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
							<p class="url"><a href="https://www.youtube.com/watch?v=pMmPzrvbJwM">https://www.youtube.com/watch?v=pMmPzrvbJwM</a></p>
							<p>A video that explains how black holes are formed and whether one should really worry about the sun being swallowed by a black hole.</p>
							<p>This video was awarded with the Bronze Beaver award at the 8<sup>th</sup> National Science Film Festival (2018)</p>
						</article>
					</div>
				</details>
				<details class="details">
					<summary class="details__summary">
						Music
					</summary>
					<div class="details__content">
						<article class="project">
							<h2>Attention Instrumental Cover</h2>
							<p class="url"><iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/489084051&color=%23353550&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></p>
							<p class="url"><a href="https://soundcloud.com/aryan-mediratta/attention-instrumental-cover-remastered">https://soundcloud.com/aryan-mediratta/attention-instrumental-cover-remastered</a></p>
							<p>An instrumental cover I made for the song 'Attention'.</p>
						</article>
					</div>
				</details>
			</section>
		</div>
    </main>
</section>

<% include partials/footer %>