@import "_hamburger";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

$green: rgb(5,235,26);
$red: #F44336;

* {
	box-sizing: border-box;
}
.prep {
	color: $red;
}
.selectDisable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden!important;
	//background: black;
	color: black;
	font-family: "Roboto Mono" ,"consolas", 'Courier New', Courier, monospace, sans-serif;
	h1, p {
		margin: 0;
		padding: 0;
	}
	.gradient {
		background: #34e89e;
  background: -webkit-linear-gradient(to bottom, black, black, white);
  background: linear-gradient(to bottom, black, black, white);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-attachment: fixed;
	}
	.green {
		color: rgb(5,235,26);
	}
	.scrolled-half {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}
	.scrolled {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/dev.jpg');
		background-size: cover;
		background-position: bottom;
		background-color: rgba(0, 0, 0, .8);
	}
	header {
		// background: #00aeef;
		transition: all .5s;
		background: transparent;
		position: fixed;
		top: 0;
		width: 100%;
		height: auto;
		padding: .5rem 1rem;
		display: flex;
		@media screen and (max-width: 898px) {
			display: block
		}
		align-items: center;
		z-index: 1;
		
		> * {
			flex: 1;
			vertical-align: middle;
		}
		.logo {
			flex: 1;
			text-align: center;
			font-size: 1rem;
			user-select: none;
		}
		h1 {
			@media screen and (max-width: 450px)
			{
				font-size: 1.5em;
			}
		}
		.mobile {
			@media screen and (min-width: 898px) {
				display: none;
			}
		}
		nav {
			@media screen and (max-width: 898px) {
				display: none;
			}
			vertical-align: middle;
			display: flex;
			text-align: center;
			font-size: 1.2em;
			a{
				color: white;
				text-decoration: none;
				transition: all .5s;
				opacity: 1;
				&:hover {
					opacity: 0.7;
				}
			}
			> * {
				flex: 1;
			}
		}
		.active {
			@extend .green;
		}
	}
	.black {
		background: #000;
		color: white;
	}
	section {
		padding: 80px;
	}
	.sec {
		max-width: 1000px;
		margin: auto;
		text-align: center;
		h1::before {

			background: rgb(5,235,26);
			height: 2px;
			bottom: 8px;
			display: block;
			position: absolute;
			content: "";
			width: 60px;
			left: 50%;
			margin-left: -30px;
		}
		h1 {
			font-family: "Roboto Slab";
			font-weight: 300;
			display: block;
			font-size: 3rem;
			position: relative;
			padding-bottom: 30px;
		}
		h1 + * {
			margin-top: 1rem;
		}
		ul {
			padding: 0;
			font-size: 2rem;
			li {
				margin: 20px;
			}
		}
	}
	.flex-def {
		display: flex;

		& > * {
			flex: 1;
		}
	}
	.wrap {
			flex-wrap: wrap;
		}
}
.foot {
background: #f7ff00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.achievements {
	font-size: 1.5rem;
	.year {
		color: orange;
	}
	h2 {
		font-family: "Roboto Slab";
		font-size: 1.5em;
	}
	h3 {
		color: $green;
	}
	max-width: 600px;
	margin: auto;
	text-align: left;
	#more {
		display: none;
	}
	button {
		padding: 1.1rem;
		border-radius: 10px;
		font-size: 1.8rem;
		cursor: pointer;
	}
}