@import '_base';

dl {
	font-size: 1.5rem;
	@media screen and (max-width: 898px) { 
		font-size: 1rem;
	}
	dt {
		text-decoration: underline;
	}
	ul, ul > li {
		font-size: 1.5rem;
		@media screen and (max-width: 898px) { 
			font-size: 1rem;
		}
		transition: all 1s;
		margin: 0!important;
	}
	a {
		color: black;
		text-decoration: none;
		transition: opacity .5s;
		opacity: 1;
		&:hover {
			opacity: .7;

		}
	}
}

.fa-li {
	transition: all .5s;
}

li:hover {
	
	.fa-facebook {
		color: #3b5998;
	}
	.fa-stack-overflow {
		color: #f48024;
	}
	.fa-github {
		color: #6e5494;
	}
	.fa-youtube {
		color: #ff0000;
	}

			
}

.email-part {
	color: red;
	cursor: help;
	&::before {
		content: "[";
		color: mediumblue;
		// background: red;
	}
	&::after {
		content: "]";
		color: mediumblue;
		// background: red;
	}
}